.search {
  margin-right: 0.5rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.btnsearch {
  background: #af05058f;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 600;
  border: none;
  padding: 0.4rem;
  border-radius: 5px;
}
